node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
jsconfig.json

# macOS
.DS_Store

# get your API Authorization token
# from https://themoviedb.org 
app/api/apiToken.js